<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/sisiflorensia"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lalunatech/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/sisi.florensia"><i class="fab fa-facebook"></i></a>
<!--     <a href="#"><i class="fab fa-medium"></i></a> -->
    <a href="https://www.linkedin.com/in/sisiflorensia"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    @lalunatech by Sisi Florensia
  </div>
</div>
