.banner {
  background-size: cover;
  background-position: center;
  padding: 240px 0;
}

.home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
  margin: 0.2em 0;
  font-family: 'DM Serif Display', serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 1em 0;
}

.home-banner {
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  padding: 1em 4em;
  // text-align: center;
  padding-top: 40vh;
}
